// Colors
$main-color: #111111;

// Fonts
$font-family: "Manrope", sans-serif;

// Font-weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

// Containers
:root {
  --content-width: 1820px;
  --content-fluid-width: 1700px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --black: #111;
  --light-blue: #5685ff;
  --blue: #2551e8;
  --dark-blue: #020094;
  --white: #fff;
  --gray5: #666;
  --gray4: #22215a;
  --gray3: #e8e8e8;
  --gray2: #f1f1f1;
  --gray1: #fafafa;
  --red: #f42525;
}